<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/survey" method="post">
        Your name: <input type="text" name="name"><br>
        Dojo location: <select name="location">
            <option>Mountain view</option>
            <option>San jose</option>
            <option>广州</option>
        </select><br>
        Favorite language: <select name="language" id="">
            <option>javascript</option>
            <option>python</option>
            <option>java</option>
        </select><br>
        Comment: <textarea name="comment" id="" cols="30" rows="10"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>